{
  "endOfLine": "lf",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 140,
  "tabWidth": 2,
  "proseWrap": "always",
  "arrowParens": "always",
  "useTabs": false,
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": true
}
